/ria-auto/ria-auto-rest-api/target/
/ria-auto/ria-auto-rest-spring/target/

/ria-auto/*.iml
/ria-auto/ria-auto-rest-api/*.iml
/ria-auto/ria-auto-rest-spring/*.iml

/ria-auto/.idea
/ria-auto/ria-auto-rest-api/.idea
/ria-auto/ria-auto-rest-spring/.idea

*.log